#ribbon {
    display: block;
    position: relative;
}
#overlay_canvas {
    position: absolute;
    display: block;
}
#ribbon_letters {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Earwig Factory";
    color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 24px 0 rgba(115, 115, 115, 0.5);
}
#number_bar {
    position: relative;
    display: flex;
    font-family: "earwig factory";
    color: white;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}
#number_bar div {
    display: flex;
    margin-left: auto;
    margin-right: auto;   
}

#number_bar div p {
    background-color: black;
    color: white;
    cursor: pointer;
}

#number_bar div p.selected {
    background-color: white;
    color: black;
}

#number_bar div p.activated.selected {
    box-shadow: inset 0px 0px 6px 0px black;
}

#number_bar div p.activated {
    background-color: #71988b;
    color: white;
}

#pending_input {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#left_insert, #right_insert {
    text-align: center;
    cursor: pointer;
}

#left_insert.selected, #right_insert.selected {
    background-color: white;
}

#left_insert {
    float: left;
}
#right_insert {
    float: right;
}

#middle_input {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#left_insert.selected, #right_insert.selected,#middle_input {
    box-shadow: 0 0 1px white;
}

#timer_bar {
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    left: 40px;
}

#popout_button {
    position: fixed;
    background-color: white;
    height: 40px;
    width: 40px;
    z-index: 3;
}
#popout_button p {
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

#popout button {
    padding: 12%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    background: white;
    border: 2px dotted black;
    margin-bottom: 10px;
}

#popout .popout_ui {
    background-color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-top: 20px;
    box-shadow: 0px 0px 4px #676767;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    cursor: pointer;
}

div#score_popup {
    position: absolute;
    z-index: -1;
    display: none;
}

p#score_counter {
    font-family: sans-serif;
    color: white;
    font-size: medium;
    height: 40px;
    line-height: 40px;
    display: block;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    background-color: inherit;
    position: fixed;
    width: 100%;
    z-index: 2;
}

div#score_popup p {
    font-family: sans-serif;
    color: rgb(251, 251, 251); 
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
}

div#score_popup.shown {
    animation-iteration-count: 1;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    display: block;
}

#popout .popout_ui p {
    font-family: sans-serif;
    float: left;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    margin-left: 10px;
    text-align: left;
    position: relative;
    display: block;
    width: 100%;
    line-height: 80px;
}

#popout .popout_ui.toggle p {
    line-height: 40px;
}

#popout .popout_ui.selected {
    box-shadow: inset 0px 0px 4px #1f1f1f;
    background-color: #e2e2e2;
}
div#top_bar {
    background: #00000070;
}
#popout {
    top: 40px;
    height: calc(100vh - 40px);
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: inset 0px 0px 4px 0px #616161;
    display: block;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: hidden; /* todo change maybe */
    overflow-x: hidden;
}

#popout.hidden {
    top: -100%;
}



.hidden {
    display: none;
}

#middle_input.hidden {
    background: none;
    box-shadow: none;
}

#timer_bar_child {
    position: relative;
    height: 100%;
    width: 0%;
    background-color: #00000096;
}
#timer_bar_child.pink {
    background-color: rgba(255, 185, 185, 0.9);
}
#timer_bar_child.blue {
    background-color: rgba(185, 204, 255, 0.9);
}

#timer_bar_child.flashing {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#timer_bar_child.blue.flashing {
    animation-name: flashing-blue;
}

#timer_bar_child.pink.flashing {
    animation-name: flashing-pink;
}

@keyframes flashing-pink {
    from {
        background-color: rgba(255, 185, 185, 0.9);
    }
    to {
        background-color: black;   
    }  
}

@keyframes flashing-blue {
    from {
        background-color: rgba(185, 204, 255, 0.9);
    }
    to {
        background-color: black;  
    }
}

.letter_transition {
    animation-name: drop_in;
    animation-iteration-count: 1;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes drop_in {
    from {
        transform: translateX(50vw);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes show_score_landscape {
    from {
        top: 23vh;
    }
    to {
        top: 39vh;
    }
}

@keyframes show_score_portrait {
    from {
        top: 23vw;
    }
    to {
        top: 39vw;
    }
}

@media all and (orientation: landscape) {
    #ribbon_letters {
        font-size: 22vh;
    }
    #overlay_canvas {
        width: 100vh;
        height: 26vh;
        top: -5vh;
    }
    #number_bar p {
        padding-left: 1.5vh;
        padding-right: 1.5vh;
    }
    #ribbon {
        top: 14vh;
        width: 100vh;
        height: 28vh;
    }
    #pending_input {
        border-bottom: 1vh solid black;
        font-size: 6vh;
        width: 95vh;
        height: 12vh;
        top: 19vh;
        line-height: 11.5vh;
    }
    #number_bar {
        font-size: 15vh;
        width: 95vh;
        height: 18vh;
        top: 31.5vh;
    }
    #left_insert, #right_insert {
        width: 10vh;
        height: 11vh;
    }
    #middle_input {
        padding-left: 4vh;
        padding-right: 4vh;
        height: 11vh;
    }

    div#score_popup {
        width: 100vh;
        top: 23vh;
    }

    div#score_popup.shown {
        animation-name: show_score_landscape;
    }
    
    div#score_popup p { 
        font-size: 5vh;      
        width: 100%;
    }

}
@media all and (orientation: portrait) {
    #ribbon_letters {
        font-size: 22vw;
    }
    #overlay_canvas {
        width: 100vw;
        height: 26vw;
        top: -5vw;
    }

    #number_bar p {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    #ribbon {
        top: 14vw;
        width: 100vw;
        height: 28vw;
    }
    #pending_input {
        border-bottom: 1vw solid black;
        font-size: 8vw;
        width: 86vw;
        height: 12vw;
        top: 19vw;
        line-height: 11.5vw;
    }
    #number_bar {
        font-size: 15vw;
        width: 86vw;
        height: 18vw;
        top: 31.5vw;
    }

    #left_insert, #right_insert {
        text-align: center;
        width: 10vw;
        height: 11vw;
    }
    #middle_input {
        padding-left: 4vw;
        padding-right: 4vw;
        height: 11vw;
    }

    div#score_popup {
        width: 100vw;
        left: 0vw;
        top: 23vw;
    }

    div#score_popup.shown {
        animation-name: show_score_portrait;
    }
    
    div#score_popup p {
        font-size: 5vw;        
        width: 100vw;
    }
}
