#ribbon {
    display: block;
    position: relative;
}
#overlay_canvas {
    position: absolute;
    display: block;
}
#ribbon_letters {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Earwig Factory";
    color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 24px 0 rgba(115, 115, 115, 0.5);
}
#number_bar {
    position: relative;
    display: flex;
    font-family: "earwig factory";
    color: white;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}
#number_bar div {
    display: flex;
    margin-left: auto;
    margin-right: auto;   
}

#number_bar div p {
    background-color: black;
    color: white;
    cursor: pointer;
}

#number_bar div p.selected {
    background-color: white;
    color: black;
    box-shadow: inset 0px 0px 6px 0px black;
}

#number_bar div p.activated {
    background-color: #71988b;
    color: white;
}

#pending_input {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#left_insert, #right_insert {
    text-align: center;
    cursor: pointer;
}

#left_insert.selected, #right_insert.selected {
    background-color: white;
}

#left_insert {
    float: left;
}
#right_insert {
    float: right;
}

#middle_input {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#left_insert.selected, #right_insert.selected,#middle_input {
    box-shadow: 0 0 1px white;
}

#top_bar {
    position: fixed;
    width: 100%;
    height: 40px;
    background: #00000054;
    top: 0%;
}

#top_bar_score {
    font-family: sans-serif;
    color: white;
    float: right;
    overflow-wrap: normal;
    white-space: nowrap;
    text-align: right;
    position: relative;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    margin-right: 8px;
}

#timer_bar {
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    left: 40px;
}

#popout_button {
    position: fixed;
    background-color: white;
    height: 40px;
    width: 40px;
}
#popout_button p {
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

#popout button {
    padding: 12%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    background: white;
    border: 2px dotted black;
    margin-bottom: 10px;
}


#popout *.selected {
    border: 2px solid black;
}
#popout {
    top: 40px;
    height: calc(100vh - 40px);
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: inset 0px 0px 4px 0px #616161;
    display: block;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
}

#popout.hidden {
    top: -100%;
}



.hidden {
    display: none;
}

#middle_input {
    background: none;
    box-shadow: none;

}

#timer_bar_child {
    position: relative;
    height: 100%;
    width: 0%;
    background-color: #00000096;
}

@media all and (orientation: landscape) {
    #ribbon_letters {
        font-size: 22vh;
    }
    #overlay_canvas {
        width: 100vh;
        height: 26vh;
        top: -5vh;
    }
    #number_bar {
        font-size: 15vh;
        width: 86vh;
        height: 18vh;
        top: 34.5vh;
    }
    #number_bar p {
        padding-left: 1.5vh;
        padding-right: 1.5vh;
    }
    #ribbon {
        top: 16vh;
        width: 100vh;
        height: 28vh;
    }
    #pending_input {
        border-bottom: 1vh solid black;
        font-size: 10vh;
        width: 86vh;
        height: 12vh;
        top: 23vh;
        line-height: 11.5vh;
    }
    #left_insert, #right_insert {
        width: 10vh;
        height: 11vh;
    }
    #middle_input {
        padding-left: 4vh;
        padding-right: 4vh;
    }
}
@media all and (orientation: portrait) {
    #ribbon_letters {
        font-size: 22vw;
    }
    #overlay_canvas {
        width: 100vw;
        height: 26vw;
        top: -5vw;
    }
    #number_bar {
        font-size: 15vw;
        width: 86vw;
        height: 18vw;
        top: 34.5vw;
    }
    #number_bar p {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    #ribbon {
        top: 6vw;
        width: 100vw;
        height: 28vw;
    }
    #pending_input {
        border-bottom: 1vw solid black;
        font-size: 10vw;
        width: 86vw;
        height: 12vw;
        top: 15.5vw;
        line-height: 11.5vw;
    }
    #left_insert, #right_insert {
        text-align: center;
        width: 10vw;
        height: 11vw;
    }
    #middle_input {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}
