#game_square {
    margin-left: auto;
    margin-right: auto;
}
#ribbon {
    display: block;
    position: relative;
}
#overlay_canvas {
    position: absolute;
    display: block;
}


#ribbon_letters {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Earwig Factory";
    user-select: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 24px 0 rgba(115, 115, 115, 0.5);
}

#number_bar {
    position: relative;
    display: flex;
    font-family: "earwig factory";
    color: white;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}
#number_bar div {
    display: flex;
    margin-left: auto;
    margin-right: auto;   
}

#number_bar div p {
    user-select: none;
    background-color: black;
    color: white;
}

#number_bar div p.selected {
    background-color: white;
    color: black;
}

#pending_input {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
}

#left_insert, #right_insert {
    text-align: center;
}

#left_insert.selected, #right_insert.selected {
    background-color: white;
}

#left_insert {
    float: left;
}
#right_insert {
    float: right;
}

#middle_input {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#left_insert.selected, #right_insert.selected,#middle_input {
    box-shadow: 0 0 1px white;
}

@media all and (orientation: landscape) {
    #game_square {
        height: 100vh;
        width: 100vh;
    }
    #ribbon_letters {
        font-size: 22vh;
    }
    #overlay_canvas {
        width: 100vh;
        height: 26vh;
        top: -4vh;
    }
    #number_bar {
        font-size: 15vh;
        width: 86vh;
        height: 18vh;
        top: 34.5vh;
    }
    #number_bar p {
        padding-left: 1.5vh;
        padding-right: 1.5vh;
    }
    #ribbon {
        top: 6vh;
        width: 100vh;
        height: 28vh;
    }
    #pending_input {
        border-bottom: 1vh solid black;
        font-size: 10vh;
        width: 86vh;
        height: 12vh;
        top: 15.5vh;
        line-height: 11.5vh;
    }
    #left_insert, #right_insert {
        width: 10vh;
        height: 11vh;
    }
    #middle_input {
        padding-left: 4vh;
        padding-right: 4vh;
    }
}
  
@media all and (orientation: portrait) {
    #game_square {
        height: 100vw;
        width: 100vw;
        top: calc(50vh - 50vw);
        position: absolute;
    }
    #ribbon_letters {
        font-size: 22vw;
    }
    #overlay_canvas {
        width: 100vw;
        height: 26vw;
        top: -4vw;
    }
    #number_bar {
        font-size: 15vw;
        width: 86vw;
        height: 18vw;
        top: 34.5vw;
    }
    #number_bar p {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    #ribbon {
        top: 6vw;
        width: 100vw;
        height: 28vw;
    }
    #pending_input {
        border-bottom: 1vw solid black;
        font-size: 10vw;
        width: 86vw;
        height: 12vw;
        top: 15.5vw;
        line-height: 11.5vw;
    }
    #left_insert, #right_insert {
        text-align: center;
        width: 10vw;
        height: 11vw;
    }
    #middle_input {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}
