.justified-fullscreen-square {
    background-color: rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 3px #0000004a;
}
.justified-fullscreen-square p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.61);
}
@media all and (orientation: landscape) {
    .justified-fullscreen-square {
        height: 67vh;
    }
    .justified-fullscreen-square p {
        width: 100vh;
        font-size: 3.5vh;
        margin-top: 5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}
@media all and (orientation: portrait) {
    .justified-fullscreen-square p {
        width: 100vw;
        font-size: 4vw;
        margin-top: 5vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
}
