body {
    overflow: hidden;
    background-color: #D18C87;
    background-image: linear-gradient(141deg, #CBC1C5 0%, #D18C87 51%, #D49C8B 75%);
    width: 100vw;
    height: 100vh;
}
body,html,p {
    padding: 0;
    margin: 0;
}
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    cursor: default;
}
.justified-fullscreen-square {
    margin-left: auto;
    margin-right: auto;
}
@media all and (orientation: landscape) {
    .justified-fullscreen-square {
        height: 100vh;
        width: 100vh;
    }
}
@media all and (orientation: portrait) {
    .justified-fullscreen-square {
        height: 100vw;
        width: 100vw;
        top: calc(50vh - 50vw);
        position: absolute;
    }
}
