body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
body,html,p {
    padding: 0;
    margin: 0;
}
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    cursor: default;
}
.justified-fullscreen-square {
    margin-left: auto;
    margin-right: auto;
}
@media all and (orientation: landscape) {
    .justified-fullscreen-square {
        height: 100vh;
        width: 100vh;
    }
}
@media all and (orientation: portrait) {
    .justified-fullscreen-square {
        height: 100vw;
        width: 100vw;
        top: calc(50vh - 50vw);
        position: absolute;
    }
}
body.blue {
    background-color: #87d1d1;
    background-image: linear-gradient(141deg, #c1c2cb 0%, #87d1d1 51%, #8ba1d4 75%);
}

body.pink {
    background-color: #D18C87;
    background-image: linear-gradient(141deg, #CBC1C5 0%, #D18C87 51%, #D49C8B 75%);
}

div#top_bar {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0%;
}
div.top_bar_button {
    position: absolute;
    background-color: white;
    height: 40px;
    width: 40px;
    z-index: 3;
    top: 0;
    left: 0;
}
div.top_bar_button p {
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}
p.splash_text {
    font-family: sans-serif;
    color: white;
    font-size: medium;
    height: 100%;
    line-height: 40px;
    display: block;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    background-color: inherit;
}
div.top_bar {
    background: rgba(0, 0, 0, 0.83);
    width: 100%;
    height: 40px;
}
#BackButton.selected {
    cursor: pointer;
    padding: 5px;
}
