/* https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  display: block;
  width: 200px;
  height: 34px;
  top: 36px;
  position: relative;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

input:checked + .slider.pink {
  background-color: #88797a;
}

input:checked + .slider.blue {
  background-color: #748589;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(165px);
  -ms-transform: translateX(165px);
  transform: translateX(165px);
}
