div#store_items {
    height: calc(100% - 40px);
    width: 100%;
    position: absolute;
    top: 40px;
}
div.store_item {
    width: 50%;
    height: 21%;
    background-color: rgba(255, 255, 255, 0.23);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 1%;
    box-shadow: 0px 0px 3px 0px #79797940;
    margin-bottom: 1%;
}
div.store_item img {
    height: 40%;
    position: absolute;
    display: block;
    top: 60%;
}
div.store_item p.cost {
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    font-size: 16px;
    width: 20%;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.store_item p.description {
    background: black;
    position: absolute;
    left: 0%;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
div.store_item p.description span.quantity {
    text-decoration: underline;
}
div.store_item p.owned {
    position: absolute;
    top: 42%;
    left: 25%;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 8px;
}
@media all and (orientation: portrait) {
    div.store_item {
        width: 95%;
        height: 22%;
        margin-top: 2%;
        margin-bottom: 1%;
    }
    div.store_item p.description {
        left: 20%;
        width: 80%;
    }
    p.splash_text {
        left: 40px;
        position: absolute;
        width: calc(100% - 40px);
        height: 40px;
    }
}
div.store_item.selected {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
#BackButton.selected {
    cursor: pointer;
    padding: 5px;
}
