div#store_items {
    height: calc(100% - 40px);
    width: 100%;
    position: absolute;
    top: 40px;
}
div.store_item {
    width: 50%;
    height: 21%;
    background-color: rgba(255, 255, 255, 0.27);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 1%;
    box-shadow: 0px 0px 4px 0px #7b7b7b;
    margin-bottom: 1%;
}
div.store_item img {
    height: 59%;
    position: absolute;
    display: block;
    top: 26%;
    box-shadow: 0px 0px 1px #7b7b7bcf;
    left: 4%;
    z-index: 2;
}
div.store_item p.cost {
    position: absolute;
    font-family: sans-serif;
    font-size: 16px;
    width: 20%;
    text-align: center;
    font-weight: bold;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    height: calc(100% - 10px);
    color: white;
    z-index: 1;
    background: rgba(56, 56, 56, 0.73);
}
div.store_item p.description {
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0%;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
div.store_item p.description span.quantity {
    text-decoration: underline;
}
div.store_item p.owned {
    position: absolute;
    top: 44%;
    left: 31%;
    width: 57%;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.78);
    padding: 8px;
}
@media all and (orientation: portrait) {
    div.store_item {
        width: 95%;
        height: 22%;
        margin-top: 2%;
        margin-bottom: 1%;
    }
    p.splash_text {
        left: 40px;
        position: absolute;
        width: calc(100% - 40px);
        height: 40px;
    }
}
div.store_item.selected {
    background: white;
    cursor: pointer;
}
div.store_item.selected .owned {
    background: black;
}
